div,h4{
	width: 17%;
	height: 30px;
	vertical-align: middle;
	text-align: center;
	position: absolute;
	box-sizing: border-box;
	padding-top:  5px;
	margin: 0px;
	top: 350px;
	left: 10%
}

h4{
	width: 100%;
	font-size: 20px;
	height: 50px;
	left: 0px;
}

div:hover{
	cursor: pointer;
}

div:active,div:visited,div:hover{
	border: solid 1.8px black;
}